.photo {
  border: 5px solid;
  margin: auto;
  width: 500px;
  height: 500px;
}
.text {
  text-align: center;
  color: blueviolet;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
img {
  width: 500px;
  height: 500px;
}
