body {
  margin: 0px;
}
.main {
  padding-left: 20px;
  padding-right: 20px;
}
#name {
  float: left;
  margin: 0px;
}
.navbar {
  background-color: rgb(33, 58, 138);
}
.navbar ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
.navbar a {
  text-decoration: none;
  padding: 15px;
  display: block;
  color: white;
  text-align: center;
}

.navbar a:hover {
  background-color: rgb(17, 35, 73);
}
.navbar li {
  float: right;
}
