.photo {
  float: left;
  border: 5px solid;
  margin-right: 10px;
  width: 150px;
  height: 150px;
  padding: 10px;
}
.text {
  text-align: center;
  color: blueviolet;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.photo2 {
  float: left;
  border: 5px solid;
  width: 150px;
  height: 150px;
  padding: 10px;
}
.cat {
  width: 150px;
  height: 150px;
}
.aug {
  width: 150px;
  height: 150px;
}
